In [1]:
import pandas as pd

In [2]:
cities_data = pd.read_csv("gistfile1.txt",header=2).loc[:899]
cities_data.head()

  rank          city         state population 2000-2013 growth
0    1      New York      New York    8405837             4.8%
1    2   Los Angeles    California    3884307             4.8%
2    3       Chicago      Illinois    2718782            -6.1%
3    4       Houston         Texas    2195914            11.0%
4    5  Philadelphia  Pennsylvania    1553165             2.6%

In [3]:
cities_top_900 = cities_data["city"]
cities_top_900

0          New York
1       Los Angeles
2           Chicago
3           Houston
4      Philadelphia
           ...
895        Meridian
896        Riverton
897       St. Cloud
898          Quincy
899     Morgan Hill
Name: city, Length: 900, dtype: object

In [4]:
cities_top_900.to_csv("top_900_cities_by_population.txt",index=False,header=False)